@charset "UTF-8";
html,body{max-width:100%;background-color:#fefefe;color:#232323;font-family:'ヒラギノ角ゴシック','Hiragino Sans','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',sans-serif;font-size:16px;line-height:1.7;letter-spacing:0.5px;}
a{text-decoration:none;}
a:hover{color:#f00;}